body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0 5px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h2 {
  border-bottom: 1px solid #eee;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
  margin: 15px 0;
}

ul {
  padding-left: 30px;
}

input {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  padding: 0 5px;
  padding-right: 5px;
}

.text {
    padding: 0 5px;
    width: 100%;
}

.wrapper{
    display: block;
    margin-top: 5px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    border-radius: 4px;
    transition: border .2s ease-in-out;
    transition: width .1s;
}

.margin-img{
    padding: 4px;
}

.responsive-img {
    max-width: 100%;
    height: auto;
}

.responsive {
    padding: 0 8px;
    float: left;
    width: 32.999%;
}

@media only screen and (max-width: 768px) {
    .responsive {
        width: 50%;
        margin: 6px 0;
    }
}


